<div>
    <div class="pull-left">
        Name: <input type="text" ng-model="name" /><br><br>
        Phone Number: <input type="text" ng-model="phoneNumber" /><br><br>
        <button ng-click="doAdd()" ng-show="isEdit == false">Add</button>
        <button ng-click="doUpdate()" ng-show="isEdit == true">Update</button>
    </div>
    <hr>
    <div class="pull-right" style="width: 300px;">
        <input type="text" placeholder="Search by Name" ng-model="search.name" />
    </div>
    

    <table class="table" ng-if="books.length > 0">
        <thead>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="contact in books  | filter: search track by $index">
                <td>{{contact.name}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td>
                    <button ng-click="doEdit(contact.id)">Edit</button> |
                    <button ng-click="doDelete(contact.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>